<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Image metadata viewer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid">
    {% for image in images %}
    <div>
        {{ image.ip }} @ {{ image.date.strftime("%Y-%m-%d %H:%M:%S") }} from <a href="{{image.referrer}}">{{image.referrer}}</a><br>
        <img src="{{ image.image }}" style="max-width: 100vw; max-height: 100vh;">
    </div>

    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if current_page != 0 %}
            <li>
                <a href="/list?page={{current_page - 1}}" aria-label="Previous">
                    <span aria-hidden="true">PREVIOUS PAGE</span>
                </a>
            </li>
            {% endif %}

            {% for p in page_shortcuts %}

            <li {% if p == current_page %} class="active"{% endif %}><a href="/list?page={{p}}">{{ p+1 }}</a></li>

            {% endfor %}

            {% if current_page != total_pages - 1 %}
            <li>
                <a href="/list?page={{current_page + 1}}" aria-label="Next">
                    <span aria-hidden="true">NEXT PAGE</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div> <!-- .container -->
</body>
</html>

